@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro& display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

body {
    height: 200vh;
}

#logoheader {
    width: 200px;
    height: auto;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    color: aliceblue;
    font-size: 22px;
    font-family: 'Kdam Thmor Pro';
    cursor: pointer;
    transition: .5s;
}

li:hover {
    color: #D21617;
    font-size: 21px;
}

#banner {
    width: 100%;
    height: auto;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
    height: 260px;
    object-fit: cover;
}

.sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: white;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro';
    width: 70%;
    margin-top: 50px;
}

.button {
    color: white;
    height: 60px;
    width: 200px;
    background-color: #D21617;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    outline: none;
    transition: .8s;
    cursor: pointer;
}

.button:hover {
    background-color: aliceblue;
    color: black;
}

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 10px 20px;
    color: aliceblue;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro';
    margin-left: -15px;
}

.card:hover {
    transform: scale(1.02);
}

.banner1 {
    background-image: url('./batman_ator.jpeg');
}

.banner2 {
    background-image: url('./mulhergato_atora.jpg');
}

.banner3 {
    background-image: url('./gordon_fogo.jpeg');
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    color: aliceblue;
    font-family: 'Kdam Thmor Pro';
}

.direitos {
    margin-top: 50px;
}

#logo2 {
    width: 200px;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {

    .footer-navigation {
        display: block;
        margin-top: 50px;
    }

    .footer-list {
        margin-bottom: 25px;
    }

    nav {
        display: none;
    }

    .banner {
        width: 100%;
    }

    .trailer-container {
        width: 100%;
    }

    .content {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
        margin-top: 20px;
    }

    .sinopse {
        width: 100%;
    }

    .description {
        width: 100%;
        text-align: justify;
        margin-left: -14px;
    }

    .actor-cards-container {
        width: 100%;
    }

    .cards-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 150px;
        margin-left: 8px;
    }

    
}
